<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUGUIDEBOT</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}" />
    <link rel="icon" type="image" href="https://cdn.discordapp.com/attachments/1062192524837535794/1233084889277009970/eduguidebot_logo.jpg?ex=662bcf4b&is=662a7dcb&hm=002cc0d724a29863e2251345516d4976b41e7b2dd8e1573ffb63032f5e7a98ba&">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>
    <h1>EDUGUIDEBOT</h1>

    <div>
        <div id="chatbot">
            <p class="botText"><span>Hi there!</span></p>
        </div>
        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your message..."/>
            <input type="submit" value="Send" id="buttonInput" />
        </div>    
    </div>
    
    <script>
        $(document).ready(function(){
            function getUserResponse() {
                var userText = $('#textInput').val();
                var userHTML = "<p class='userText'>User: <span>"+userText+"</span>";    
                $('#textInput').val("");
                $('#chatbot').append(userHTML);  
                
                $.get('/getResponse', {userMessage:userText}).done(function(data){
                    var returnedMessage = "<p class='botText'>Chatbot: <span>"+data+"</span></p>"
                    $('#chatbot').append(returnedMessage);
                })
            }
            
            $('#buttonInput').click(function(){
                getUserResponse();
            });
        });
    </script>


</body>
</html>
